params {

	fastq = 'fastq/*_{1,2}.*'

	/*
	Component 'bwa_1_1'
	------------------
	*/
	bwaIndex_1_1 = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/BWAIndex/human_g1k_v37_decoy.fasta'

	/*
	Component 'haplotypecaller_1_2'
	------------------------------
	*/
	reference_1_2 = null
	intervals_1_2 = null


}