params {



        fastq = "testdata/H06HDADXX130110.1.ATCACGAT.20k_reads_{1,2}.fastq.gz"

        /*
        Component 'bwa_1_1'
        ------------------
        
        bwaIndex_1_1 = "/Users/phil/Documents/GitHub/GATK/chr20_testdata/human_g1k_v37_chr20.fasta"

        
        Component 'haplotypecaller_1_2'
        ------------------------------
       
        reference_1_2 = "/Users/phil/Documents/GitHub/GATK/chr20_testdata/human_g1k_v37_chr20"
        intervals_1_2 = "testdata/intervals.interval_list"

        
        Component 'base_recalibrator_1_3'
        --------------------------------
        
				reference_1_3 = '/Users/phil/Documents/GitHub/GATK/chr20_testdata/human_g1k_v37_chr20.fasta'
				*/

				fastq = "testdata/H06HDADXX130110.1.ATCACGAT.20k_reads_{1,2}.fastq.gz"
        bwaIndex = "/Users/phil/Documents/GitHub/GATK/chr20_testdata/human_g1k_v37_chr20.fasta"
        reference = "/Users/phil/Documents/GitHub/GATK/chr20_testdata/human_g1k_v37_chr20"
        dbsnp = null
        golden_indel = null
}

process {

        $bwa_1_1.memory = {5.Gb*task.attempt}
        $bwa_1_1.cpus = 4
        $haplotypecaller_1_2.memory = {1.Gb*task.attempt}
        $haplotypecaller_1_2.cpus = 1

}
