params {



        fastq = "testdata/H06HDADXX130110.1.ATCACGAT.20k_reads_{1,2}.fastq.gz"

        /*
        Component 'bwa_1_1'
        ------------------
        */
        bwaIndex_1_1 = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta"

        /*
        Component 'haplotypecaller_1_2'
        ------------------------------
        */
        reference_1_2 = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta"
        intervals_1_2 = "testdata/intervals.interval_list"


}

process {

        $bwa_1_1.memory = {5.Gb*task.attempt}
        $bwa_1_1.cpus = 4
        $haplotypecaller_1_2.memory = {5.Gb*task.attempt}
        $haplotypecaller_1_2.cpus = 1

}
